<%- include('header') %>
    <%- include('aside') %>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Thêm mới danh mục
                </h1>

            </section>

            <!-- Main content -->
            <section class="content">
                <!-- Default box -->
                <div class="box">
                    <div class="row">
                        <div class="col-md-4">
                            
                            <form action="" method="POST" role="form">                            
                                <div class="box-body">
                                    <div class="form-group">
                                        <label for="">Tên danh mục</label>
                                        <input type="text" class="form-control" id="" placeholder="Input field">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Trạng thái danh mục</label>
                                        
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="" id="input" value="" checked="checked">
                                                Hiển thị
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="" id="input" value="" checked="checked">
                                                Tạm ẩn
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="box-footer">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"> Lưu lại</i></button>
                                    <a href="/danh-muc" class="btn btn-default pull-right"><i class="fa fa-arrow-left"> Quay lại</i></a>
                                </div>

                            </form>
                            
                        </div>
                    </div>
                </div>
                <!-- /.box -->

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <%- include('footer') %>